.box {
	max-width: 100%;
}

#ulPadding li{
	padding-bottom: 0.625em;
}

#note{
	color: #aaa;
font-weight: 200;
}

/* ******************************************
	Print Styles
	****************************************** */
	@media print and (max-width: 8.5in){


		#content{
			width:100%;
		}

		#print {
			text-align: right;
		}

	    #content,
	    #container-content {
		   margin: 0;
			padding:0;	
		   
		}

		.extraHeading{
			display: none;
		}


		#container-header,
		#container-footer	{
			clear:both;
			display: none;
		}


	}